<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filtered Results</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <!-- Link to CSS File -->
    <link href="../static/IS.UI_V1.css" type="text/css" rel="stylesheet">

    <articletop>
        <div class="myDIVT">Custom College Search &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:mediumseagreen;">Instructions</span></div> <div class="hide"><html lang="en">
<body>
    <ul>
        Filtered Results
        <li>Your new top 10 or 20 schools will be displayed after the original list is trimmed based on your acceptance rate and population choices</li>
       
    </ul>

</body>
</html>

        </div>

        <!--Old... Custom College Search &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a style="text-decoration-color:mediumseagreen;" href="https://docs.google.com/document/d/1QtNWo_EUQdz14494aZvGdapv7yCHZZ70vJnsSHIqkJA/edit?tab=t.0"><span style="color:mediumseagreen;">Instructions</span></a>
        <br />-->
    </articletop>
</head>
<body>
<!--Button to go back -->
    <button class="backB" onclick="goBack()"><- Go Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
<b> Your filtered top 10: </b><br/> <br/>

    1. {{ value1b }}
    <br />
    2. {{  value2b }}
    <br />
    3. {{ value3b }}
    <br />
    4. {{ value4b }}
    <br />
    5. {{ value5b }}
    <br />
    6. {{ value6b }}
    <br />
    7. {{  value7b }}
    <br />
    8. {{ value8b }}
    <br />
    9. {{ value9b }}
    <br />
    10. {{ value10b }}
    <br />
    {{ value11b }}
    <br />
    {{  value12b }}
    <br />
    {{ value13b }}
    <br />
    {{ value14b }}
    <br />
    {{ value15b }}
    <br />
    {{ value16b }}
    <br />
    {{  value17b }}
    <br />
    {{ value18b }}
    <br />
    {{ value19b }}
    <br />
    {{ value20b }}

    <br />
    <div style="color:white">
    {{ valuepal }}
    </div>

    <!--aReport no longer available in V3 as of 4/6
    <article1-2>
        <form action='/areport'>
            <br />

            <button>Get Your Final Stats</button>
        </form>
    </article1-2>-->

    <!--<footer>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v1.5
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Updated: 12/12/24
        <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/apearl2">Connect on Github</a>
        <br/>
    </footer>-->
</body>
</html>
