<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Custom College Search</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">

    <articletop  style="font-family: 'Georgia', 'Serif'; background-color:slategray;">
        <div class="myDIVT">Custom College Search &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:mediumseagreen;">Instructions</span></div>
            <div class="hide">

                        <body>
                            <ul>
                                Home Page
                                <li>For each of the 17 attributes, enter the how much it matters to you (Importance, 0-9)</li>
                                <li>If you do not enter a value, or enter “0”, then that attribute is not considered</li>
                                <li>Press “Get Your Rankings” button when you have entered all your preferences</li>
                            </ul>
                        </body>

            </div>

        <!--Old... Custom College Search &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a style="text-decoration-color:mediumseagreen;" href="https://docs.google.com/document/d/1QtNWo_EUQdz14494aZvGdapv7yCHZZ70vJnsSHIqkJA/edit?tab=t.0"><span style="color:mediumseagreen;">Instructions</span></a>
        <br />-->
    </articletop>

    <!-- Link to CSS File -->
    <link href="../static/IS.UI_V1.css" type="text/css" rel="stylesheet">

</head>
<body>
<span style="accent-color:mediumseagreen">
    <!-- Main form statement -->
    <form action="/calculate">

        <!-- College Factual Attributes ------------->
        <!-- Undergrad School-->
        <article1 id="usRanking">
            <br /> <div class="myDIV">&nbsp Undergrad School: </div> <div class="hide">&nbsp (i) Undergraduate college (exists usually in bigger schools) within the larger University, such as college of Engineering, Business, Liberal Arts (Colleges that are only Liberal Arts schools are also includes in this ranking). </div>

            <!--&nbsp Undergrad School: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <br />-->
            <span style="accent-color:mediumseagreen">
		    &nbsp;&nbsp;Lib. Arts/Sci
		    <input type="radio" value="LiBeral Arts_" name="s_">
		    ENGR
		    <input type="radio" value="Engineering_" name="s_">
		    Business
		    <input type="radio" value="Business_" name="s_">
                <!--General St
		    <input type="radio" value="General Studies_" name="s_">-->
		    PreMed
		    <input type="radio" value="Pre-med_" name="s_">

            <br /> <br />
            &nbsp Importance:

            <input type="radio"  value="0" name="b_">
            <input type="radio"  value="1" name="b_">
            <input type="radio"  value="2" name="b_">
            <input type="radio"  value="3" name="b_">
            <input type="radio"  value="4" name="b_">
            <input type="radio"  value="5" name="b_">
            <input type="radio"  value="6" name="b_">
            <input type="radio"  value="7" name="b_">
            <input type="radio"  value="8" name="b_">
            <input type="radio"  value="9" name="b_">
            </span>
            <br />

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9

        </article1>

         <!-- Intended Major -->
        <article2 id="intendMajor">
            <br /><div class="myDIV">&nbsp Intended Major: <input id="intendMajorI" type="text" name="w_"> </div>
            <div class="hide">&nbsp (i) Ranking of specific undergraduate major program, ex: Economics, Psychology, Electrical Engineering... </div>
            <br/>
			&nbsp Importance:
            <span style="accent-color:mediumseagreen">
			<input type="radio" value="0" name="z_">
			<input type="radio" value="1" name="z_">
			<input type="radio" value="2" name="z_">
			<input type="radio" value="3" name="z_">
			<input type="radio" value="4" name="z_">
			<input type="radio" value="5" name="z_">
			<input type="radio" value="6" name="z_">
			<input type="radio" value="7" name="z_">
			<input type="radio" value="8" name="z_">
			<input type="radio" value="9" name="z_">
            </span>

            <br />

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9
		</article2>


        <!-- Overall Prestige-->
        <article3 id="oPrestige">
            <br /> <div class="myDIV">&nbsp Overall Prestige: </div> <div class="hide">&nbsp (i) Based on name recognition, overall strength of college, alumni success, "Dream School" desirability </div><br />
            &nbsp Importance:

            <input type="radio"  value="0" name="c_">
            <input type="radio"  value="1" name="c_">
            <input type="radio"  value="2" name="c_">
            <input type="radio"  value="3" name="c_">
            <input type="radio"  value="4" name="c_">
            <input type="radio"  value="5" name="c_">
            <input type="radio"  value="6" name="c_">
            <input type="radio"  value="7" name="c_">
            <input type="radio"  value="8" name="c_">
            <input type="radio"  value="9" name="c_">
            <br />

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9
        </article3>


        <!-- Princeton Review Attributes------------->
        <article4 id="sSatisfaction">
            <br /> <div class="myDIV">&nbsp Student Satisfaction: </div> <div class="hide">&nbsp (i) How happy students are at their college. Student life, academic environment, opportunities, school spirit... </div><br />
            &nbsp Importance:
            <input type="radio"  value="0" name= "d_">
            <input type="radio"  value="1" name= "d_">
            <input type="radio"  value="2" name= "d_">
            <input type="radio"  value="3" name= "d_">
            <input type="radio"  value="4" name= "d_">
            <input type="radio"  value="5" name= "d_">
            <input type="radio"  value="6" name= "d_">
            <input type="radio"  value="7" name= "d_">
            <input type="radio"  value="8" name= "d_">
            <input type="radio"  value="9" name= "d_">
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9
        </article4>

        <article5 id="spScene">
            <br /><div class="myDIV">&nbsp Sports Scene: </div> <div class="hide">&nbsp (i) How popular colleges' sports teams are, how important sports are to student life </div><br />
            &nbsp Importance:
            <input type="radio"  value="0" name= "e_">
            <input type="radio"  value="1" name= "e_">
            <input type="radio"  value="2" name= "e_">
            <input type="radio"  value="3" name= "e_">
            <input type="radio"  value="4" name= "e_">
            <input type="radio"  value="5" name= "e_">
            <input type="radio"  value="6" name= "e_">
            <input type="radio"  value="7" name= "e_">
            <input type="radio"  value="8" name= "e_">
            <input type="radio"  value="9" name= "e_">
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9
        </article5>

        <article6 id="cBeauty">
            <br /> <div class="myDIV">&nbsp Campus Beauty: </div> <div class="hide">&nbsp (i) Building style, green spaces, area surrounding the campus </div><br />
            &nbsp Importance:




            <input type="radio"  value="0" name=  "x_">
            <input type="radio"  value="1" name=  "x_">
            <input type="radio"  value="2" name=  "x_">
            <input type="radio"  value="3" name=  "x_">
            <input type="radio"  value="4" name=  "x_">
            <input type="radio"  value="5" name=  "x_">
            <input type="radio"  value="6" name=  "x_">
            <input type="radio"  value="7" name=  "x_">
            <input type="radio"  value="8" name=  "x_">
            <input type="radio"  value="9" name=  "x_">









            <br />




            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9








        </article6>

        <article7 id="cTown">
            <br /> <div class="myDIV">&nbsp College Town: </div> <div class="hide">&nbsp (i) How accessible/connected is the town/city that hosts the campus. </div><br />
            &nbsp Importance:




            <input type="radio"  value="0" name=  "f_">
            <input type="radio"  value="1" name=  "f_">
            <input type="radio"  value="2" name=  "f_">
            <input type="radio"  value="3" name=  "f_">
            <input type="radio"  value="4" name=  "f_">
            <input type="radio"  value="5" name=  "f_">
            <input type="radio"  value="6" name=  "f_">
            <input type="radio"  value="7" name= "f_">
            <input type="radio"  value="8" name= "f_">
            <input type="radio"  value="9" name= "f_">









            <br />




            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9








        </article7>

        <article8 id="Diversity">
            <br /> <div class="myDIV">&nbsp Diversity: </div> <div class="hide">&nbsp (i) Racial and economic diversity among students </div><br />
            &nbsp Importance:




            <input type="radio"  value="0" name= "g_">
            <input type="radio"  value="1" name= "g_">
            <input type="radio"  value="2" name= "g_">
            <input type="radio"  value="3" name= "g_">
            <input type="radio"  value="4" name= "g_">
            <input type="radio"  value="5" name= "g_">
            <input type="radio"  value="6" name= "g_">
            <input type="radio"  value="7" name= "g_">
            <input type="radio"  value="8" name= "g_">
            <input type="radio"  value="9" name= "g_">









            <br />




            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9








        </article8>

        <article9 id="Dorms">
            <br /> <div class="myDIV">&nbsp Dorms: </div> <div class="hide">&nbsp (i) How updated, clean, and connected to campus student housing is </div><br />
            &nbsp Importance:




            <input type="radio"  value="0" name= "h_">
            <input type="radio"  value="1" name= "h_">
            <input type="radio"  value="2" name= "h_">
            <input type="radio"  value="3" name= "h_">
            <input type="radio"  value="4" name= "h_">
            <input type="radio"  value="5" name= "h_">
            <input type="radio"  value="6" name= "h_">
            <input type="radio"  value="7" name= "h_">
            <input type="radio"  value="8" name= "h_">
            <input type="radio"  value="9" name= "h_">









            <br />




            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9








        </article9>

        <article10 id="Food">
     <br /> <div class="myDIV">&nbsp Food: </div> <div class="hide">&nbsp (i) How do students rate the dining hall and third-party food options on campus </div><br />
     &nbsp Importance:




        <input type="radio"  value="0" name= "i_">
        <input type="radio"  value="1" name= "i_">
        <input type="radio"  value="2" name= "i_">
        <input type="radio"  value="3" name= "i_">
        <input type="radio"  value="4" name= "i_">
        <input type="radio"  value="5" name= "i_">
        <input type="radio"  value="6" name= "i_">
        <input type="radio"  value="7" name= "i_">
        <input type="radio"  value="8" name= "i_">
        <input type="radio"  value="9" name= "i_">









        <br />




        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9








  </article10>

        <article11 id="publicValue">
            <br /> <div class="myDIV">&nbsp Public College Value: </div> <div class="hide">&nbsp (i) Return on investment (comparing tuition to starting salaries and majors) of Public Universities </div><br />
            &nbsp Importance:




            <input type="radio"  value="0" name= "j_">
            <input type="radio"  value="1" name= "j_">
            <input type="radio"  value="2" name= "j_">
            <input type="radio"  value="3" name= "j_">
            <input type="radio"  value="4" name= "j_">
            <input type="radio"  value="5" name= "j_">
            <input type="radio"  value="6" name= "j_">
            <input type="radio"  value="7" name= "j_">
            <input type="radio"  value="8" name= "j_">
            <input type="radio"  value="9" name= "j_">









            <br />




            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9




        </article11>

        <article12 id="privateValue">
            <br /> <div class="myDIV">&nbsp Private College Value: </div> <div class="hide">&nbsp (i) Return on investment (comparing tuition to starting salaries and majors) of Private Colleges and Universities</div><br />
            &nbsp Importance:




            <input type="radio"  value="0" name= "k_">
            <input type="radio"  value="1" name= "k_">
            <input type="radio"  value="2" name= "k_">
            <input type="radio"  value="3" name= "k_">
            <input type="radio"  value="4" name= "k_">
            <input type="radio"  value="5" name= "k_">
            <input type="radio"  value="6" name= "k_">
            <input type="radio"  value="7" name= "k_">
            <input type="radio"  value="8" name= "k_">
            <input type="radio"  value="9" name= "k_">









            <br />




            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9








        </article12>

        <article13 id="publicIC">
            <br /> <div class="myDIV">&nbsp Internships (Public Colleges): </div> <div class="hide">&nbsp (i) Strength of internship and co-op opportunities that Public Universities provide </div><br />
            &nbsp Importance:

            <input type="radio"  value="0" name= "l_">
            <input type="radio"  value="1" name= "l_">
            <input type="radio"  value="2" name= "l_">
            <input type="radio"  value="3" name= "l_">
            <input type="radio"  value="4" name= "l_">
            <input type="radio"  value="5" name= "l_">
            <input type="radio"  value="6" name= "l_">
            <input type="radio"  value="7" name= "l_">
            <input type="radio"  value="8" name= "l_">
            <input type="radio"  value="9" name= "l_">









            <br />




            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9








        </article13>

        <article14 id="privateIC">
            <br /> <div class="myDIV">&nbsp Internships (Private Colleges): </div> <div class="hide">&nbsp (i) Strength of internship and co-op opportunities that Private Colleges and Universities provide </div><br />
            &nbsp Importance:




            <input type="radio"  value="0" name= "m_">
            <input type="radio"  value="1" name= "m_">
            <input type="radio"  value="2" name= "m_">
            <input type="radio"  value="3" name= "m_">
            <input type="radio"  value="4" name= "m_">
            <input type="radio"  value="5" name= "m_">
            <input type="radio"  value="6" name= "m_">
            <input type="radio"  value="7" name= "m_">
            <input type="radio"  value="8" name= "m_">
            <input type="radio"  value="9" name= "m_">









            <br />




            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9








        </article14>
        <article15 id="Research">
            <br /> <div class="myDIV">&nbsp Research Area:
            <!--&nbsp Research Area: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-->

		    <select name="C" id="rChoice">
                <option value="Architecture">Architecture</option>
                <option value="Business">Business</option>
                <option value="Chemistry">Chemistry</option>
                <option value="ComputerScience">Comp Sci</option>
                <option value="Economics">Economics</option>
                <option value="Engineering">Engineering</option>
                <option value="English">English</option>
                <option value="Finance">Finance</option>
                <option value="PoliticalScience">Polit Sci</option>
                <option value="PreMed">Pre Med</option>
                <option value="Psychology">Psychology</option>
            </select>

            </div><div class="hide">&nbsp (i) Research output and opportunities for students in 11 fields </div>
            <br /><span style="accent-color:mediumseagreen">
            &nbsp Importance:

            <input type="radio"  value="0" name="Z_">
            <input type="radio"  value="1" name="Z_">
            <input type="radio"  value="2" name="Z_">
            <input type="radio"  value="3" name="Z_">
            <input type="radio"  value="4" name="Z_">
            <input type="radio"  value="5" name="Z_">
            <input type="radio"  value="6" name="Z_">
            <input type="radio"  value="7" name="Z_">
            <input type="radio"  value="8" name="Z_">
            <input type="radio"  value="9" name="Z_">
            </span>
            <br />

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9

        </article15>

        <article16 id="studyAbroad">
            <br /> <div class="myDIV">&nbsp Study Abroad: </div> <div class="hide">&nbsp (i) Based on variety of programs offered (both in location and timing) and participation rates at schools </div><br />
            &nbsp Importance:




            <input type="radio"  value="0" name= "Q_">
            <input type="radio"  value="1" name= "Q_">
            <input type="radio"  value="2" name= "Q_">
            <input type="radio"  value="3" name= "Q_">
            <input type="radio"  value="4" name= "Q_">
            <input type="radio"  value="5" name= "Q_">
            <input type="radio"  value="6" name= "Q_">
            <input type="radio"  value="7" name= "Q_">
            <input type="radio"  value="8" name= "Q_">
            <input type="radio"  value="9" name= "Q_">









            <br />




            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9








        </article16>

        <article17 id="expLearning">
            <br /> <div class="myDIV">&nbsp Experiential Learning: </div> <div class="hide">&nbsp (i) Combination ranking of service learning opportunities and first-year programs </div><br />
            &nbsp Importance:




            <input type="radio"  value="0" name= "X_">
            <input type="radio"  value="1" name= "X_">
            <input type="radio"  value="2" name= "X_">
            <input type="radio"  value="3" name= "X_">
            <input type="radio"  value="4" name= "X_">
            <input type="radio"  value="5" name= "X_">
            <input type="radio"  value="6" name= "X_">
            <input type="radio"  value="7" name= "X_">
            <input type="radio"  value="8" name= "X_">
            <input type="radio"  value="9" name= "X_">









            <br />




            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9








        </article17>

        <article18>
            <div class="container">
                <div class="center">
                    <div class="grbutton">

                        <button>Get Your Rankings</button>

                    </div>
                </div>
            </div>
        </article18>


    </form>
</span>

    <!--Commented Out 2/12
    <footer>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v1.5
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Updated: 12/12/24
        <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/apearl2">Connect on Github</a>
        <br/>
    </footer>-->
</body>
</html>