<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>In Progress</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <!-- Link to CSS File -->
    <link href="../static/IS.UI_V1.css" type="text/css" rel="stylesheet">

    <articletop>
        <div class="myDIVT">Custom College Search &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:mediumseagreen;">Instructions</span></div> <div class="hide"><html lang="en">
<body>
    <ul>
        In Progress
        <li>Press “Top 10” or “Top 20” for the desired number of colleges in your results list</li>
        <li>You must click the “Complete” button to start the ranking algorithm</li>
    </ul>


</body>
</html>

        </div>

        <!--Old... Custom College Search &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a style="text-decoration-color:mediumseagreen;" href="https://docs.google.com/document/d/1QtNWo_EUQdz14494aZvGdapv7yCHZZ70vJnsSHIqkJA/edit?tab=t.0"><span style="color:mediumseagreen;">Instructions</span></a>
        <br />-->
    </articletop>

</head>
<body>

<span style="accent-color:mediumseagreen;">
<br/>
<b> In progress</b>............<br/><br/>
    <form action="/results">
        <article1-2>
            <br />

            <!--Choice of Top 10 or Top 20 -->
            Top 10
            <input type="radio" value="ten" name="z">
            Top 20
            <input type="radio" value="twenty" name="z">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            Click Here ->
            <button>Complete</button>
        </article1-2>
    </form>
</span>
    <article1-9 style="color:white">
        {{ valueip }}
    </article1-9>

    <footer>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v1.5
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Updated: 12/12/24
        <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/apearl2">Connect on Github</a>
        <br/>
    </footer>
</body>
</html>