# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Ignore Pycache
__pycache__/flask_appv3.cpython-310.pyc
https://github.com/apearl2/v3__new__CCS/blob/main/__pycache__/flask_appv3.cpython-310.pyc
